* {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;	
}

#wrapper {
    width: 100%;
    height: 100vh;
}

.container {
    margin: 50px;
    border-radius: 100px;
    text-align: center;
    transition: transform 400ms ease-in, .4s;
    overflow: hidden;
}


.first {
    background: green;
    height: 200px;
    width: 100px;
    overflow: hidden;
}

.first p {
    padding-top: 30px;
    color: white;

}

.second {
    background: orange;
    height: 400px;
    width: 250px;
    border-radius: 50px;
    transform: rotate(180deg);
    overflow: hidden;
    box-shadow: 2px 0px 50px -5px rgba(69,69,69,0.76);
    z-index: 100;
    overflow: hidden;

}

.second p {
    transition: none;
    transform: rotate(180deg);
    padding-bottom: 340px;
}

.fullWidthButton {
    display: none;
    width: 100%;
    color: transparent;
    height: 100vh;
    background-color: transparent;
    border: none;
    margin-top: -250px;
    padding: 0%;
    position: absolute;
    z-index: 99;
    transition: none;
    transform: none;
}